.accordion{
    margin-bottom: 0;
    margin-top: 80px;
    @include breakpoint(medium down) {
        margin-top: 40px;
    }
    &-item{
        margin-bottom: 5px;
        border-radius: $global-radius;
        @include breakpoint(small down) {
            background-color: rgba($white, 0.05);
        }
    }
    &-title{
        font-size: 13px;
        font-weight: 700;
        line-height: 1.69;
        text-transform: uppercase;
        background-color: rgba($white, 0.07);
        border-radius: $global-radius !important;
        padding-right: 70px;
        &::before{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -20px;
            right: 20px;
            font-size: 15px;
            background-color: rgba($white, 0.2);
            border-radius: 50%;
            padding-top: 2px;
            transition: 300ms;
        }
        &[aria-expanded="true"]::before{
            background-color: $primary-color;
        }
    }
    &-content{
        @include breakpoint(small down) {
            padding: 20px 12px;
            font-size: 13px;
            font-weight: 300;
            line-height: 1.92;
        }
    }
}