.curr{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(medium down) {
        width: 32px;
        height: 32px;
        svg{
            transform: scale(0.7);
        }
    }
    &--xrp{
        background-color: #00a1db;
    }
    &--eth{
        background-color: #464972;
    }
    &--btc{
        background-color: #f99400;
    }
}