.form{
    width: 100%;
    &--cols{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include breakpoint(small down) {
            flex-direction: column;
            align-items: center;
        }
        input{
            text-align: center;
            margin-bottom: 10px;
        }
    }
    &--choose{
        margin-top: -20px;
        .form{
            &_field{
                margin-top: 20px;
                width: calc(50% - 20px);
                @include breakpoint(small down) {
                    width: 100%;
                }
                &:nth-child(even) {
                    margin-left: 0;
                }
                [type="radio"]{
                    display: none;
                    &:checked{
                        + .form_input{
                            border-color: $cyan;
                            background-color: rgba($white, 0.05);
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTgiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxOCAxNCI+PHBhdGggdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTYzMyAtMzE0KSIgZmlsbD0iIzMwYzJmZiIgZD0iTTYzOSAzMjUuMTdsLTQuMTctNC4xNy0xLjQyIDEuNDFMNjM5IDMyOGwxMi0xMi0xLjQxLTEuNDF6Ii8+PC9zdmc+Cg==);
                            background-repeat: no-repeat;
                        }
                    }
                }
                &--sizer{
                    width: calc(50% - 20px);
                    margin-left: 20px;
                    position: absolute;
                }
            }
            &_input{
                width: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                height: 80px;
                padding: 0 50px 0 65px;
                border: 1px solid rgba($white, 0.1);
                border-radius: $global-radius;
                cursor: pointer;
                font-size: 13px;
                font-weight: 700;
                line-height: 1.69;
                text-transform: uppercase;
                transition: 300ms;
                user-select: none;
                background-position: center right 30px;
            }
        }
    }
    &--row{
        display: flex;
        @include breakpoint(medium down) {
            flex-direction: column;
        }
        input{
            margin: 0;
            height: auto;
            border-radius: 5px 0 0 5px;
            margin-right: -1px;
            @include breakpoint(medium down) {
                border-radius: $global-radius;
                margin: 0 0 16px 0;
                padding: 20px;
            }
        }
        .button{
            border-radius: 0 $global-radius $global-radius 0;
            @include breakpoint(medium down) {
                border-radius: $global-radius;
            }
        }
    }
    &--centered{
        max-width: 650px;
        text-align: center;
        input{
            text-align: center;
        }
        .button{
            margin-top: 30px;
            @include breakpoint(small down) {
                margin: 0;
            }
        }
    }
    &_head{
        width: 100%;
        .form_input{
            max-width: 400px;
            margin: auto;
            input{
                text-align: center;
            }
        }
    }
    &_field{
        width: calc(50% - 12.5px);
        @include breakpoint(small down) {
            width: 100%;
        }
        &:nth-child(even){
            margin-left: 25px;
            @include breakpoint(small down) {
                margin-left: 0;
            }
        }
        &--wide{
            width: 100%;
        }
    }
    &_label{
        height: 30px;
        text-align: left;
    }
    &_input{
        position: relative;
        &--country{
            input{
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHRyYW5zZm9ybT0icm90YXRlKC05MCkiIHZpZXdCb3g9IjAgMCAxMiA4Ij48cGF0aCB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjU0IC01MTUpIiBvcGFjaXR5PSIuNSIgZmlsbD0iI2ZmZiIgZD0iTTY1NS40MSA1MTUuNTlsNC41OSA0LjU4IDQuNTktNC41OEw2NjYgNTE3bC02IDYtNi02eiIvPjwvc3ZnPg==);
                background-position: center right 26px;
                background-repeat: no-repeat;
            }
        }
        &--amount.form_input {
            input{
                width: 100%;
                padding-right: 150px;
                @include breakpoint(medium down) {
                    padding-right: 120px;
                }
            }
            select{
                width: auto;
                margin: 0;
                border: 0;
                position: absolute;
                right: 0;
                top: 50%;
                background: none;
                border-left: 1px solid rgba($white, 0.1);
                border-radius: 0;
                height: auto;
                padding: 15px 46px 15px 29px;
                transform: translateY(-50%);
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiPjxkZWZzPjxwYXRoIGlkPSJrMHozYSIgZD0iTTY1NS40MSA1MTUuNTlsNC41OSA0LjU4IDQuNTktNC41OEw2NjYgNTE3bC02IDYtNi02eiIvPjwvZGVmcz48Zz48ZyBvcGFjaXR5PSIuNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTY1NCAtNTE1KSI+PHVzZSBmaWxsPSIjZmZmIiB4bGluazpocmVmPSIjazB6M2EiLz48L2c+PC9nPjwvc3ZnPg==);
                background-position: center right 21px;
                background-repeat: no-repeat;
                @include breakpoint(medium down) {
                    padding-left: 0;
                    border: 0;
                }
            }
        }
        &--phone.form_input {
            input {
                width: 100%;
                padding-left: 140px;
                @include breakpoint(medium down) {
                    padding-left: 120px;
                }
            }
            select {
                width: auto;
                margin: 0;
                border: 0;
                position: absolute;
                left: 65px;
                top: 50%;
                background: none;
                border-right: 1px solid rgba($white, 0.1);
                border-radius: 0;
                height: auto;
                padding: 15px 30px 15px 0;
                transform: translateY(-50%);
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiPjxkZWZzPjxwYXRoIGlkPSJrMHozYSIgZD0iTTY1NS40MSA1MTUuNTlsNC41OSA0LjU4IDQuNTktNC41OEw2NjYgNTE3bC02IDYtNi02eiIvPjwvZGVmcz48Zz48ZyBvcGFjaXR5PSIuNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTY1NCAtNTE1KSI+PHVzZSBmaWxsPSIjZmZmIiB4bGluazpocmVmPSIjazB6M2EiLz48L2c+PC9nPjwvc3ZnPg==);
                background-position: center right 10px;
                background-repeat: no-repeat;
                @include breakpoint(medium down) {
                    padding-left: 0;
                    border: 0;
                }
            }
        }
        &_icon{
            position: absolute;
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            z-index: -1;
            width: 30px;
            height: 22px;
            background-size: cover;
            border-radius: 3px;
            svg{
                display: block;
            }
            + input{
                padding-left: 60px;
                padding-right: 50px;
            }
        }
        &_label{
            margin: auto;
        }
    }
    input{
        &::placeholder {
            color: #93979f;
        }

        &[readonly] {
            cursor: pointer;
            background-color: rgba($white, 0.07);
        }

        &:focus {
            color: $cyan;
            border-color: $cyan;
        }
        &:invalid:not(:focus):not(:placeholder-shown):not(select) {
            border-color: $alert-color;
            color: $alert-color;
        }
    }
}