.slider {
    margin-top: 44px;
    margin-bottom: 11px;
    &_steps {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: rgba($white, 0.2);
        position: absolute;
        top: -44px;
        left: 0;
        width: 100%;
    }
    &_step {
        width: 29px;
        text-align: center;
        transition: 300ms;
        &:nth-last-child(-n+2) {
            padding-left: 5px;
        }
        &.is_active {
            color: $cyan;
        }
    }
    &-handle {
        outline: none;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSI+PHBhdGggdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMwMiAtMzM3MikiIGZpbGw9IiMzMGMyZmYiIGQ9Ik0zMDIgMzM4NC41YTEyLjUgMTIuNSAwIDEgMSAyNSAwIDEyLjUgMTIuNSAwIDAgMS0yNSAwem04LjgtLjA0bDMuNjkgNy41MiAzLjcyLTcuNTJ6bTcuMDQtLjhsLTMuMzUtMy40My0zLjM1IDMuNDN6bS44NC0uMjZsMS4yOC0zLjM0aC00LjUzem0tNS4xNC0zLjM0aC00LjI3bDEuMDcgMy4zem0tNy4zMyA0LjRsNi45NSA2LjYtMy4yNC02LjZ6bTkuNjEgNi41OGw2Ljk1LTYuNThoLTMuNjh6bTcuMTUtNy4zOGwtMi4zMy0zLjE5LTEuMjIgMy4yem0tMTYuOTcgMGgzLjYybC0xLjExLTMuNDJ6Ii8+PC9zdmc+);
    }
}