.tooltip{
    background-image: url(../assets/img/bg_tooltip.jpg);
    background-size: cover;
    background-position: center;
    @include breakpoint(small down) {
        padding: 30px 20px 0;
        max-width: 320px;
        width: auto;
    }
    &_header{
        margin-bottom: 20px;
        letter-spacing: 3px;
        line-height: 1.43;
    }
    .reveal_table{
        width: 100%;
        th{
            padding-right: 0;
        }
        td{
            width: 1%;
        }
    }
}