.combo{
    padding-top: 60px;
    background-color: $quinary-color;
    @include breakpoint(medium down) {
        padding: 60px 30px 0;
        
    }
    @include breakpoint(small down) {
        padding: 40px 15px 0;
        h2 {
            br {
                display: none;
            }
        }
    }
    &_descr{
        font-size: 16px;
        line-height: 1.56;
        letter-spacing: 0.02px;
        max-width: 560px;
        margin: 40px auto 60px;
        text-align: center;
        color: rgba($white, 0.8);
        @include breakpoint(medium down) {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.79;
            letter-spacing: 0.02px;
            max-width: 330px;
            margin: 25px auto 0;
        }
        @include breakpoint(small down) {
            margin-bottom: 20px;
        }
    }
    &_item{
        border-radius: 10px;
        background-color: #16233f;
        padding: 50px 17px 58px;
        height: 100%;
        text-align: center;
        @include breakpoint(medium down) {
            max-width: 320px;
            margin: auto;
            margin-top: 40px;
            height: calc(100% - 40px);
            padding-top: 40px;
            padding-bottom: 30px;
        }
        @include breakpoint(small down) {
            height: calc(100% - 20px);
            margin-top: 20px;
        }
        &_img{
            margin-bottom: 40px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_descr{
            font-size: 13px;
            font-weight: 300;
            line-height: 1.92;
            letter-spacing: 0.01px;
            &::before{
                content: '';
                display: block;
                width: 30px;
                height: 2px;
                background-color: $white;
                margin: 20px auto 25px;
            }
        }
    }
}