.ecosystem{
    padding: 80px 0 90px;
    @include breakpoint(medium down) {
        padding: 40px 30px;
    }
    @include breakpoint(small down) {
        padding: 40px 15px;
    }
    &_descr{
        margin: 40px auto;
        max-width: 520px;
        text-align: center;
        @include breakpoint(small down) {
            margin-bottom: 20px;
        }
    }
    &_infographics{
        max-width: 1070px;
        &_image{
            text-align: center;
            display: block;
            @include breakpoint(small down) {
                max-width: 300px;
                margin: auto;
            }
        }
        &_icon{
            height: 55px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        &_header{
            text-align: left;
            color: $white;
            letter-spacing: normal;
            text-transform: none;
            font-size: 16px;
        }
    }
}