.reserve{
    background-color: #101a2d;
    padding: 53px 0 105px;
    @include breakpoint(medium down) {
        padding: 60px 30px;
    }
    @include breakpoint(small down) {
        padding: 60px 0;
    }
    &_video{
        position: relative;
        height: 0;
        padding-bottom: 100%;
        border-radius: 50%;
        background-image: url(../assets/img/reserves/bg_video.jpg);
        background-position: center;
        background-size: cover;
        margin-bottom: -45%;
        z-index: 2;
        @include breakpoint(medium down) {
            padding-bottom: 56%;
            margin: 0;
            border-radius: $global-radius;
        }
    }
    &_content{
        margin-top: 60px;
        @include breakpoint(small down) {
            margin-top: 40px;
        }
        > .column{
            &:nth-last-child(-n+2){
                height: 0;
                padding-bottom: 21.4%;
                position: relative;
                @include breakpoint(medium down) {
                    padding-bottom: 0;
                    height: auto;
                }
            }
        }
    }
    &_item{
        position: relative;
        height: 83%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
        cursor: pointer;
        outline: none;
        @include breakpoint(medium down) {
            // max-width: 300px;
            height: calc(100% - 20px);
            min-height: 200px;
            margin: auto;
            margin-top: 40px;
            overflow: hidden;
            border-radius: $global-radius;
        }
        @include breakpoint(small down) {
            margin-top: 20px;
            min-height: 145px;
            align-items: flex-start;
            padding: 15px;
            justify-content: space-between;
            text-align: left;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            width: 158%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            z-index: -1;
            @include breakpoint(medium down) {
                width: 165%;
                background-size: 100%;
                background-position: top;
                border-radius: $global-radius;
            }
            @include breakpoint(small down) {
                background-size: cover;
            }
        }
        $blocks: diamonds, d1coins, carats, usd;
        @each $item in $blocks {
            &--#{$item}{
                @if($item=='carats' or $item=='usd') {
                    height: 102%;
                    position: absolute;
                    width: calc(100% - 2.142rem);
                    @include breakpoint(medium down) {
                        position: relative;
                        height: calc(100% - 20px);
                        min-height: 200px;
                        width: auto;
                    }
                    @include breakpoint(small down) {
                        min-height: 145px;
                    }
                }
                &::after {
                    @if(index($blocks, $item) % 2==1) {
                        left: 0;
                    }
                    @else {
                        right: 0;
                        background-position: center right;
                    }
                    background-image: url(../assets/img/reserves/#{$item}.png);
                }
            }
        }
        &_num{
            font-size: 46px;
            font-weight: 500;
            letter-spacing: 0.56px;
            line-height: 1.19;
            margin-bottom: 20px;
            @include breakpoint(large down) {
                font-size: 3.6vw;
            }
            @include breakpoint(medium down) {
                font-size: 42px;
            }
            @include breakpoint(small down) {
                font-size: 5.7vw;
                letter-spacing: 0;
                margin-bottom: 10px;
            }
            small{
                font-size: 36px;
            }
            &::after{
                content: '';
                display: block;
                margin: auto;
                width: 30px;
                height: 3px;
                background-color: $white;
                margin-top: 16px;
                @include breakpoint(small down) {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
        &_curr{
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.21px;
            line-height: 1.17;
            margin-bottom: 30px;
            @include breakpoint(small down) {
                margin-bottom: auto;
            }
        }
        &_link{
            color: $cyan;
            letter-spacing: 0.3px;
        }
    }
}