.roadmap{
    padding: 80px 0;
    background-image: url(../assets/img/bg_roadmap.jpg);
    background-size: cover;
    &_items{
        margin-top: 70px;
        &::before{
            content: '';
            position: absolute;
            top: 53px;
            left: 50%;
            transform: translateX(-50%);
            width: 116%;
            height: 2px;
            background-image: linear-gradient(to right, $body-background 0%, #c3c3c3 17%, $white 71%, #848890 83%, $body-background 100%);
            opacity: 0.2;
        }
    }
    .owl-item.active {
        .roadmap_item::before {
            background-color: $primary-color;
            box-shadow: 0 0 0 11px $white;
        }
        + .active{
            .roadmap_item::before {
                background-color: $white;
                box-shadow: 0 0 0 11px rgba($white, 0.2), 0 0 0 27px rgba($white, 0.04), 0 0 0 50px rgba($white, 0.02);
            }
            + .active .roadmap_item::before{
                box-shadow: 0 0 0 11px rgba($white, 0.2);
            }
        }
    }
    &_item{
        padding: 73px 36px 0 25px;
        &::before{
            content: '';
            position: absolute;
            top: 50px;
            left: 12px;
            width: 8px;
            height: 8px;
            background-color: $white;
            border-radius: 50%;
            box-shadow: 0 0 0 11px rgba($white, 0.2);
            transition: 300ms;
        }
        &::after{
            content: '';
            position: absolute;
            top: 55px;
            left: 15px;
            width: 2px;
            height: 142px;
            background-image: linear-gradient(to top, $body-background 0%, rgba(255, 255, 255, 0.72) 100%);
            opacity: 0.3;
        }
        &_date{
            font-size: 12px;
            font-weight: 600;
            line-height: 1.58;
            letter-spacing: 1.31px;
            margin-bottom: 5px;
        }
        &_title{
            font-size: 14px;
            font-weight: 600;
            line-height: 1.57;
            text-transform: none;
            text-align: left;
            letter-spacing: 0.5px;
            max-width: 240px;
            margin-bottom: 15px;
        }
        &_content{
            font-size: 12px;
            line-height: 1.67;
            margin-bottom: 20px;
            a{
                color: $cyan;
            }
        }
    }
}