.top{
    position: relative;
    padding-top: 62px;
    // height: 100vh;
    height: 716px;
    padding-bottom: 80px;
    &_inner{
        height: 100%;
    }
    &_col{
        display: flex;
        align-items: center;
        position: relative;
    }
    &_bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        height: 100%;
        opacity: 0;
        animation: bg 500ms ease-in-out 1s forwards;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -200px;
            width: 400px;
            height: 100%;
            background-image: linear-gradient(to right, $body-background 50%, transparent 100%);
            z-index: 2;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -200px;
            width: 400px;
            height: 100%;
            background-image: linear-gradient(to left, $body-background 50%, transparent 100%);
            z-index: 2;
        }
    }
}

@keyframes bg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}