.top{
    position: relative;
    padding-top: 62px;
    height: 716px;
    padding-bottom: 80px;
    @include breakpoint(medium down) {
        background-image: url(../assets/img/bg_head.jpg);
        background-position: center;
        background-size: cover;
        padding-top: 115px;
        padding-bottom: 216px;
        height: auto;
    }
    &_header{
        @include breakpoint(medium down) {
            margin-bottom: 25px;
        }
    }
    &_inner{
        height: 100%;
        @include breakpoint(medium down) {
            flex-direction: column;
        }
    }
    &_col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        @include breakpoint(medium down) {
            width: 100%;
            position: static;
            flex-direction: column;
            max-width: 400px;
            margin: auto;
            margin-bottom: 40px;
            flex: 1 1 auto;
            align-items: center;
        }
        &:first-child{
            .button {
                @include breakpoint(large) {
                    display: none;
                }
            }
        }
        &:last-child{
            justify-content: flex-end;
        }
    }
    &_bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        height: 100%;
        opacity: 0;
        animation: bg 500ms ease-in-out 1s forwards;
        @include breakpoint(medium down) {
            display: none;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -200px;
            width: 400px;
            height: 100%;
            background-image: linear-gradient(to right, $body-background 50%, transparent 100%);
            z-index: 2;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -200px;
            width: 400px;
            height: 100%;
            background-image: linear-gradient(to left, $body-background 50%, transparent 100%);
            z-index: 2;
        }
    }
}

@keyframes bg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}