.why{
    background-color: $quinary-color;
    padding: 80px 0;
    @include breakpoint(medium down) {
        padding: 60px 30px 0;
    }
    @include breakpoint(small down) {
        padding: 60px 0 0;
    }
    &_descr{
        max-width: 610px;
        margin: 40px auto 0;
        text-align: center;
        letter-spacing: 0.1px;
        line-height: 1.71;
        @include breakpoint(medium down) {
            font-weight: 300;
            margin-top: 30px;
            max-width: 300px;
        }
    }
    &_row{
        padding-right: 15px;
        padding-left: 15px;
        justify-content: space-between;
        margin-top: 60px;
    }
    &_header{
        color: $white;
        width: calc(50% - 3px);
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(small down) {
            display: none;
        }
        &--problems{
            border-radius: 10px 0 0;
            background-color: #192741;
        }
        &--solutions{
            border-radius: 0 10px 0 0;
            background-color: #0c295f;
        }
    }
    &_content{
        width: calc(50% - 3px);
        margin-top: 6px;
        padding: 30px 64px;
        background-size: cover;
        background-position: top center;
        @include breakpoint(medium down) {
            padding: 30px 32px;
        }
        @include breakpoint(small down) {
            width: 100%;
            position: relative;
            &::before {
                position: absolute;
                left: 0;
                width: 100%;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.71;
                text-transform: uppercase;
                letter-spacing: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &--problems{
            background-color: #192740;
            @include breakpoint(small down) {
                border-radius: 0 !important;
                margin-top: 65px;
                &::before{
                    content: 'PROBLEM';
                    top: -65px;
                    height: 64px;
                    border-radius: 10px 10px 0 0;
                    background-color: #192741;
                }
            }
            &.why_content--tokens{
                background-image: url(../assets/img/why/bg_prb_tokens.png);
                border-radius: 0 0 0 10px;
            }
            &.why_content--diamonds {
                background-image: url(../assets/img/why/bg_prb_diamonds.jpg);
            }
        }
        &--solutions{
            background-color: #0c295f;
            @include breakpoint(small down) {
                border-radius: 0 0 10px 10px !important;
                margin-bottom: 40px;
                margin-top: 57px;
                &::before {
                    content: 'SOLUTION';
                    top: -56px;
                    height: 55px;
                    background-color: #0c295f;
                }
            }
            &.why_content--tokens{
                background-image: url(../assets/img/why/bg_sol_tokens.jpg);
            }
            &.why_content--diamonds {
                background-image: url(../assets/img/why/bg_sol_diamonds.png);
                border-radius: 0 0 10px;
            }
        }
        &_header{
            font-size: 18px;
        }
        h5{
            font-size: 14px;
            margin-bottom: 14px;
            margin-top: 25px;
            text-align: left;
        }
    }
}