section.advisors
    .row.align-center
        h2.column.small-12
            | Advisors speak
        .owl-carousel.column.large-8.advisors_items
            .advisors_item
                .advisors_item_img
                    img(src="assets/img/people/sandeep.png", alt="")
                blockquote.advisors_item_quote
                    | “People sometimes ask me - Why D1 token is the best investment forever? My answer is simple - only three things on the Earth are forever it is blockchain, volatility and diamonds”
                .advisors_item_author
                    | Sandeep Kothari
                    br
                    | Member of International Advisory Committee
            .advisors_item
                .advisors_item_img
                    img(src="assets/img/people/sandeep.png", alt="")
                blockquote.advisors_item_quote
                    | “People sometimes ask me - Why D1 token is the best investment forever? My answer is simple - only three things on the Earth are forever it is blockchain, volatility and diamonds”
                .advisors_item_author
                    | Sandeep Kothari
                    br
                    | Member of International Advisory Committee
            .advisors_item
                .advisors_item_img
                    img(src="assets/img/people/sandeep.png", alt="")
                blockquote.advisors_item_quote
                    | “People sometimes ask me - Why D1 token is the best investment forever? My answer is simple - only three things on the Earth are forever it is blockchain, volatility and diamonds”
                .advisors_item_author
                    | Sandeep Kothari
                    br
                    | Member of International Advisory Committee