mixin case(img, header, text)
    .cases_item
        .cases_item_img
            +icon(...img)
        .cases_item_content
            h4.cases_item_header
                =header
            p.cases_item_text
                =text

section.cases
    .row
        .column.small-12
            h2 4 use cases of D1 coin
            p.cases_descr
                | The value of D1 Coins are a function of both its fractional value of a diamond and crypto market forces, with the fractional value acting as a price floor.
        .column.large-6.small-12
            h3.cases_header NEW CRYPTO USERS
            +case(['locked', [81, 64], '#b7c5e2'], 'SAFER OPTION', 'D1 Coin provides a safer option to participate in the blockchain and cryptocurrency space, while protecting users’ wealth. Backed by diamonds, D1 Coins have a clear intrinsic value.')
            +case(['increase', [66, 66], '#b7c5e2'], 'STORE OF WEALTH', 'The price of diamonds have appreciated steadily over the past century, and users who seek to enjoy similar capital gains can now do so in a simple, private and secure way with D1 Coins.')
        .column.large-6.small-12
            h3.cases_header CURRENT CRYPTO USERS
            +case(['dash', [65, 63], '#b7c5e2'], 'DIVERSIFICATION', 'Users can temporarily “crypto-out” to D1 Coin, which has lower price volatility, if they are apprehensive of market swings. Converting to fiat currency is time consuming, cumbersome and incurs transaction fees.')
            +case(['exchange', [73, 69], '#b7c5e2'], 'BETTER MEDIUM OF EXCHANGE', 'With greater price stability, D1 Coin functions as a better unit of account. D1 Coin provides a more reliable measure of the value of goods and services.')