section.combo
    .row.column
        h2
            | THE 4“Y”S OF D1 COIN
        p.combo_descr
            | D1 upholds the 4“Y”s to provide users with the highest level of transparency and security
    .row.combo_vantage
        -
            const vantages = [
                ['transparency', 'TRANSPARENC“Y”', 'D1 employs a multi-ledger blockchain system that records the transaction details of owners’ tokens and the inventory of diamonds, including provenance'],
                ['verity', 'VERIT“Y”', 'D1 employs trusted third-party accounting firms like Baker Tilly to perform unbiased audits on the underlying diamond inventory'],
                [['custody', [96, 96], '#fff'], 'CUSTOD“Y”', 'Diamonds will be stored in secured vaults with Brink’s and Malca-Amit in Singapore and Switzerland. Insured by Llyod’s, the D1 Diamond Inventory is fully secure'],
                ['convertibility', 'CONVERTIBILIT“Y”', 'D1 Coin owners can redeem D1 Coins for diamonds at any time and in any amount. Users can choose to pick up the diamond in the vault or select international delivery']
            ]
        each vant in vantages
            .column.large-3.medium-6.small-12
                .combo_item
                    .combo_item_img
                        if typeof vant[0] === 'string'
                            img(src='assets/img/ys/' + vant[0] + '.png' alt=vant[1])
                        else
                            +icon(...vant[0])
                    h4.combo_item_title
                        =vant[1]
                    .combo_item_descr
                        =vant[2]