section.contacts
    h2.row.column
        | Contacts
    .row.align-center.contacts_items
        .column.large-4
            .contacts_item
                .contacts_item_icon
                    +icon('mail', [30, 28])
                .contacts_item_info
                    | E-mail: 
                    a(href="mailto:info@d1coin.io" target='_blank') info@d1coin.io
        .column.large-4
            .contacts_item
                .contacts_item_icon
                    +icon('placeholder', [25, 37])
                .contacts_item_info
                    | Address: 11 Beach Road #06-01
                    br
                    | Singapore (189675)