section#documents.documents
    h2.row.column
        | Documents
    .row.align-center.documents_content
        -
            const documents = [
                ['Whitepaper', 'assets/docs/whitepaper.pdf'],
                ['One Pager', 'assets/docs/onepager.pdf'],
                ['Presentation', 'assets/docs/presentation.pdf']
            ]
        each item in documents
            .column.small-12.large-3
                a.button.icon.documents_item(href=item[1] target='_blank')
                    +icon('doc', [27, 30], '#fff', [512, 512])
                    span
                        =item[0]