section.ecosystem
    .row.column
        h2 D1 coin ecosystem
        p.ecosystem_descr
            | The ecosystem of D1 Coin has a few main parties, namely Coin Buyers, D1 Mint, D1 Reserve, and Diamond Supplier. The D1 Mint and Diamond Supplier are overseen and appointed by D1 Reserve, which also acts as a custodian by holding the diamond inventory. D1 Mint issues D1 Coins to Coin Buyers, who can purchase and redeem diamonds from D1 Mint. D1 Mint functions as the central party in the D1 ecosystem coordinating the flow of D1 Coins, diamonds, and fiat currency.
        .ecosystem_infographics
            img(src="assets/img/infographics.png", alt="Infographics")