section.exchanges
    .row.column
        h2 Listed on
        ul.menu
            - const exchanges = ['bitfinex','poloniex','exmo','bittrex','okcoin']
            each val in exchanges
                li
                    img(src="./assets/img/exchanges/" + val +  ".png", alt=val)