-
    const faq_usa = [
        ['WHAT IS D1 COIN?', 'The D1 Coin is a virtual currency built on the Ethereum blockchain. D1 Coins are backed by a fractional value of diamonds. With the value of the D1 Coin being a function of not just market forces but also the value of natural diamonds, owners of D1 Coins benefit from enhanced downside protection as they can exchange their D1 Coins for investment grade diamonds at any time. Besides, D1 Coins is a perfect counter-cyclical asset offering investors in the crypto universe protection against adverse market movements similar to gold or US Government bonds in conventional markets.'],
        ['HOW TO PARTICIPATE?', 'There are two options: (1) <b>Closed Pre-sale</b> for accredited early customers for large-scale subscriptions and (2) <b>Public Pre-sale</b> for general customers.'],
        ['WHAT IS CLOSED PRE-SALE?', 'Closed Pre-sale is for accredited large-scale customers only with subscriptions equivalent to USD 1 Million or more. Closed Pre-sale begins on 2 April 2018 and ends on 14 May 2018.<br><br>For interested customers please email <a href="mailto:vip@d1coin.io" target="_blank">vip@d1coin.io</a> for details.'],
        ['WHAT IS OPEN PRE-SALE?', 'Open Pre-sale is for general investors except USA, China or Singapore persons. Minimum subscription is equivalent to USD 1000. Investors in Open Pre-sale subscribe for D1 Coins at the retail price of USD 12 per D1 Coin (or equivalent in BTC or ETH). Public Pre-sale begins on May 2018 and ends on June 2018.'],
        ['WHAT CURRENCIES CAN BE USED TO SUBSCRIBE FOR D1 COINS?', 'Bitcoin ("BTC"), Ether ("ETH") or US Dollars ("USD").'],
        ['WHEN WILL PRE-SALE COINS BE DISTRIBUTED?', 'D1 Coins are backed by diamonds sourced from the largest diamond company in the world – Alrosa, operating in the Russian Far East. Russian Far East is also home to Voskhod – a pioneering exchange, created by veterans of RTS (the original stock exchange of Russia) and introduced by President Putin in September 2016, which became the first in the world to get clearing rules for crypto assets registered by the Central Bank. D1 team reached an agreement with Voskhod on listing D1 Coins.<br><br>In order to satisfy a broader investor base we are currently conducting a beauty contest among the leading crypto exchanges to carry D1 Coins alongside Voskhod.'],
        ['ARE D1 COINS PLACED IN PRE-SALE SUBJECT TO ANY LOCK UP PERIOD?','No, there is no lock-up for any of the tokens purchased during the pre-sale period.'],
        ['AM I ALLOWED TO PARTICIPATE?', 'Different countries have different approaches to crypto assets. Each participant is responsible for determining if they can participate in the token sale based on their citizenship / jurisdiction / place of residence. US, China and Singapore citizen and entities are not allowed to participate.'],
        ['WHAT ARE THE DIAMONDS IN D1 RESERVE?', 'D1 diamonds range from 0.3 to 6.0 carats or higher, Clarity VS1 or higher, Color F or higher, Very Good and Excellent Cut. These characteristic strictly comply with GIA Diamond Reports for every single diamond in our reserve.'],
        ['WHERE DO DIAMONDS COME FROM?', 'Diamonds are sourced from major integrated diamond producers and diamond polishing companies, including Alrosa, KGK Group and Kristall Smolensk.'],
        ['DIAMOND STORAGE', 'Diamonds are stored in secure vaults in Singapore (and Switzerland in the future), operated by industry leading safe storage operators Brinks and Malca-Amit.'],
        ['DIAMOND CERTIFICATION', 'All diamonds have GIA Diamonds Reports.'],
        ['WHAT IS THE RATIO OF D1 COIN TO DIAMONDS?', 'Each D1 Coin represents a 1/1000 fraction of a model 1 carat, F color, VS1 clarity Excellent Cut diamond.'],
        ['AUDIT', 'Diamond reserve is audited by a Big-4 audit firm on quarterly basis.'],
        ['HOW TO REDEEM D1 COINS FOR DIAMONDS?', 'Customers can redeem their D1 for diamonds in three steps:<br><br><b>One</b>, select specific diamond(s) on d1coin.io website and book these diamond(s) for redemption.<br><b>Two</b>, select delivery option. The customer can chose global express delivery or pick up the diamond(s) personally at one of D1 Vaults. Time of delivery may vary depending on availability of specific diamond(s) chosen by the customer.<br><b>Three</b>, pay for the diamond(s) in D1 Coins.'],
        ['WHAT SECURITY MEASURES WILL BE IN PLACE FOR THE FUNDS THAT ARE RAISED?', 'Our security standards are state-of-the-art. Cold wallets are stored offline and are safe from inside attacks by making sure all spending is regulated by multi signature wallets.']
    ]

    const faq_china = [
        ['WHAT IS D1 COIN?', 'The D1 Coin is a virtual currency built on the Ethereum blockchain. D1 Coins are backed by a fractional value of diamonds. With the value of the D1 Coin being a function of not just market forces but also the value of natural diamonds, owners of D1 Coins benefit from enhanced downside protection as they can exchange their D1 Coins for investment grade diamonds at any time. Besides, D1 Coins is a perfect counter-cyclical asset offering investors in the crypto universe protection against adverse market movements similar to gold or US Government bonds in conventional markets.'],
        ['HOW TO PARTICIPATE?', 'Text'],
        ['WHAT IS CLOSED PRE-SALE?', 'Text'],
        ['WHAT IS OPEN PRE-SALE?', 'Text'],
        ['WHAT CURRENCIES CAN BE USED TO SUBSCRIBE FOR D1 COINS?', 'Text'],
        ['WHEN WILL PRE-SALE COINS BE DISTRIBUTED?', 'Text']
    ]

    const faq_korea = [
        ['WHAT IS D1 COIN?', 'The D1 Coin is a virtual currency built on the Ethereum blockchain. D1 Coins are backed by a fractional value of diamonds. With the value of the D1 Coin being a function of not just market forces but also the value of natural diamonds, owners of D1 Coins benefit from enhanced downside protection as they can exchange their D1 Coins for investment grade diamonds at any time. Besides, D1 Coins is a perfect counter-cyclical asset offering investors in the crypto universe protection against adverse market movements similar to gold or US Government bonds in conventional markets.'],
        ['HOW TO PARTICIPATE?', 'Text'],
        ['WHAT IS CLOSED PRE-SALE?', 'Text'],
        ['WHAT IS OPEN PRE-SALE?', 'Text'],
        ['WHAT CURRENCIES CAN BE USED TO SUBSCRIBE FOR D1 COINS?', 'Text'],
        ['WHEN WILL PRE-SALE COINS BE DISTRIBUTED?', 'Text']
    ]

section#faq.faq
    .row.align-center
        .column.large-8
            h2 Frequently asked questions
            p.faq_descr
                | We've been covered by some of the big
                | 
                br
                | 
                | cryptocurrency/blockchain news websites.
            //- select(data-target="#faq_tabs")
                option(value="faq_usa") USA
                option(value="faq_china") China
                option(value="faq_korea") Korea
            //- ul#faq_tabs.tabs(data-tabs)
                li.tabs-title.is-active
                    a(href='#faq_usa', aria-selected='true') USA
                li.tabs-title
                    a(data-tabs-target='faq_china', href='#faq_china') China
                li.tabs-title
                    a(data-tabs-target='faq_korea', href='#faq_korea') Korea
            .faq_content
                ul.accordion(data-accordion data-allow-all-closed='true')
                    each q, i in faq_usa
                        li.accordion-item(data-accordion-item class=(i == 0) ? 'is-active' : '')
                            a.accordion-title(href='#')
                                =q[0]
                            .accordion-content(data-tab-content)
                                !=q[1]
            //- .tabs-content(data-tabs-content='faq_tabs')
                - const faq = ['usa', 'china', 'korea']
                each quest, idx in faq
                    .tabs-panel(id='faq_' + quest class=!idx ? 'is-active' : '')