-
    const faq = {
        general: [
            ['WHAT DIAMONDS ARE IN D1 RESERVE?', 'D1 diamonds range from 0.3 to 6 carats or higher, Clarity VS1 or higher, Color F or higher, Very Good and Excellent Cut. These characteristic strictly comply with GIA Diamond Reports for every single diamond in our reserve.'],
            ['WHERE DO DIAMONDS COME FROM?', 'Diamonds are sourced from major integrated diamond producers and diamond polishing companies, including Alrosa, KGK Group and Kristall Smolensk.'],
            ['DIAMOND STORAGE', 'Diamonds are stored in secure vaults in Singapore (and Switzerland in the future), operated by industry leading safe storage operators Brinks and Malca-Amit.'],
            ['WHAT SECURITY MEASURES WILL BE IN PLACE FOR THE FUNDS THAT ARE RAISED?', 'Our security standards are state-of-the-art. Cold wallets are stored offline and are safe from inside attacks by making sure all spending is regulated by multi signature wallets.'],
            ['AUDIT?', 'Diamond reserve is audited by an international audit firm on quarterly basis.'],
            ['DIAMOND CERTIFICATION?', 'All diamonds have GIA Diamonds Reports.'],
            ['WHAT IS THE RATIO OF D1 COIN TO DIAMONDS?', 'Each D1 Coin represents a 1/1000 fraction of a model 1 carat, F color, VS1 clarity Excellent Cut diamond.'],
            ['HOW TO REDEEM D1 COINS FOR DIAMONDS?', 'Customers can redeem their D1 for diamonds in three steps:<br><br><b>One</b>, select specific diamond(s) on the d1coin.io website and book these diamond(s) for redemption.<br><b>Two</b>, select delivery option. The customer can choose global express delivery or pick up the diamond(s) personally at one of D1 Vaults. Time of delivery may vary depending on availability of specific diamond(s) chosen by the customer.<br><b>Three</b>, pay for the diamond(s) in D1 Coins.'],
            ['AT WHAT POINT DOES D1 PURCHASE MORE STONES AND USING WHAT FUNDS?', 'As soon as D1 receives funds from the buyer of tokens, they start the process of buying diamonds from suppliers and their subsequent audit in the D1 repository is started. After the audit of diamonds, D1 issues new tokens.'],
            ['WHICH COMPANY CONDUCTS AUDIT OF STONES ONCE A QUARTER?', 'Audit of stones in the repository will be carried out by TIER 1-2 auditing companies'],
            ['WILL THERE BE INFORMATION ABOUT THE ORIGIN OF THE STONES ON THE BLOCKCHAIN?', 'No, only movement of tokens will be stored on blockchain. GIA certificates will be openly available.']
        ],
        event: [
            ['WHAT IS D1 COIN?', 'The D1 Coin is a virtual currency built on the Ethereum blockchain. D1 Coins are backed by a fractional value of diamonds. With the value of the D1 Coin being a function of not just market forces but also the value of natural diamonds, owners of D1 Coins benefit from enhanced downside protection as they can exchange their D1 Coins for investment grade diamonds at any time. In addition, D1 Coins are a perfect counter-cyclical asset offering investors in the crypto universe protection against adverse market movements, similar to gold or US Government bonds in conventional markets.'],
            ['HOW TO PARTICIPATE?', 'There are two options: (1) <b>Closed Pre-sale</b> for accredited early customers for large-scale subscriptions and (2) <b>Public Pre-sale</b> for general customers.'],
            ['WHAT IS PRE-SALE?', 'Pre-sale is for general investors except USA, China or Singapore persons. Minimum subscription is USD 1,000.<br><br><b>Pre-Sale</b><br>Pre-sale starts on Q4, 2018.<br>The price per Token in the Pre-Sale is as indicated below.<br><br><ul><li>$8.5 – for each Token from 1 to 2.500.000</li><li>$9.0 – for each Token from 2.500.001 to 5.000.000</li><li>$9.5 – for each Token from 5.000.001 to 7.500.000</li><li>$10.0 – for each Token from 7.500.001 to 10.000.000</li></ul><br>The Company is pre-selling Tokens at a discount equal to 5% on a wholesale basis for larger volume purchasers – more than 100.000 Tokens.<br>For information on the terms of the Pre-Sale please contact <a href="mailto:info@d1coin.io" target="_blank">info@d1coin.io</a><br>The dates of the pre-sale will be announced later.'],
            ['WHAT CURRENCIES CAN BE USED TO SUBSCRIBE FOR D1 COINS?', 'Bitcoin ("BTC"), Ether ("ETH") or US Dollars ("USD").'],
            ['WHEN WILL D1 COIN COME TO MARKET/EXCHANGES? DO WE HAVE PARTNERSHIPS WITH EXCHANGES YET?', 'D1Coins may be used, kept, or exchanged online wherever parties are willing to accept D1Coins. D1Coins are fully redeemable in exchange for gem-quality polished diamonds certified by GIA (“Diamond(s)”) at a price in D1Coins published on the Site.<br><br>For example, if you purchase 100 D1Coins, you can exchange them for a diamond priced 100 D1Coins (or less) by choosing a specific diamond on the Site and transferring the appropriate amount of D1Coins to D1 Mint (subject to customer verification as stated below and redemption fees as stated in the Fees Schedule).<br><br>Each diamond will be priced at the sole and absolute discretion of D1 Mint using the D1Matrix, which is proprietary pricing algorithm, comprising of a neuron network which will analyze Diamond prices from multiple market participants. The relationship between the 4Cs (carat, color, clarity, cut) and another 7 characteristics of a diamond and its price are analyzed, determining statistically the appropriate price in D1Coins for each diamond.<br>D1 Mint will not issue D1Coins without the equivalent purchase of diamonds or instruments (contracts) redeemable for diamonds, and will not redeem D1Coins for anything but diamonds. In order to cause D1Coins to be issued or redeemed by D1 Mint, you must be a verified customer of the Site. No exceptions will be made to this provision.<br>D1 Mint must and does at all times reserve the right to refuse to issue or redeem D1Coins, without limiting the generality of the foregoing, if any act, conduct, transaction, omission, or misrepresentation:<br><br><ul><li>violates;</li><li>attempts or conspires to violate;</li><li>causes, aids, or abets the violation of;</li><li>involves a Prohibited Jurisdiction or Sanctioned Person under;</li><li>is suspected or believed to be blocked property, frozen assets, or economic resources, or the proceeds of any crime, terrorist financing, or corruption related to any Person or Government Official under; or</li><li>exposes D1 Mint and its Associates to sanctions, restrictions, or penalties pursuant to any applicable Laws, including but not limited to Applicable AML/CTF Laws, Applicable ABAC Laws, or Applicable Sanctions Laws. D1 Mint also reserves the right to issue or redeem D1Coins upon receipt of any subpoena, request for information, or order under applicable Laws or from any Government or Government Official, including but not limited to any domestic or international law enforcement authority. Absent a reasonable legal justification not to redeem D1Coins, and provided that you are a fully verified customer of Site, your D1Coins are freely redeemable.</li></ul><br>Persons ordinarily resident in, and nationals of, Prohibited Jurisdictions or Sanctioned Persons under Applicable Sanctions Laws; Persons and Government Officials believed or suspected to be transacting in the proceeds of corruption, bribery, or other crimes under Applicable ABAC Laws; and Persons believed or suspected to be engaged in money laundering or terrorist financing under Applicable AML/CTF Laws are not permitted to be customers of D1 Mint; are not permitted to cause D1Coins to be issued or redeemed; and, are not permitted to hold or transact in D1Coins.<br><br>	D1 Coins are not to be issued to persons resident or domiciled in the United States of America, Singapore, People’s Republic of China, or any person purchasing D1 Coins from a location in the United States of America.'],
            ['WHEN WILL PRE-SALE COINS BE DISTRIBUTED?', 'D1 Coins will be credited to purchasers\' wallets within 1 months from the date the Public Pre-Sale ends. As every coin is backed by GIA-certified high quality diamond we will take this time to get your diamonds delivered to our Vault in Singapore, checked for compliance and safely deposited in the vault.'],
            ['AM I ALLOWED TO PARTICIPATE?', 'Different countries have different approaches to crypto assets. Each participant is responsible for determining if they can participate in the token sale based on their citizenship / jurisdiction / place of residence. Persons resident or domiciled in the U.S., Singapore or People’s Republic of China and persons in any location in the U.S. are not allowed to participate.'],
            ['WILL THERE BE TOKENS LOCK-UP?', 'Tokens will be locked-up until the end of the sale. Token distribution will be conducted within a month after the token sale.'],
            ['WHAT IS THE TYPE OF THE D1COIN?', 'D1 coin is an asset-backed token, which provides an opportunity to exchange X coins for diamonds from the safe storage facility, which underpin the cost of D1.'],
            ['WHEN WILL IT BE NECESSARY TO LINK A WALLET TO A PERSONAL ACCOUNT?', 'During invoice creation process']
        ]
    }

section#faq.faq
    .row.align-center
        .column.large-8
            h2 Frequently asked questions
            p.faq_descr
                | We've been covered by some of the big
                | 
                br
                | 
                | cryptocurrency/blockchain news websites.
            select(data-target="#faq_tabs")
                option(value="faq_general") General questions
                option(value="faq_event") Token generation event
            ul#faq_tabs.tabs(data-tabs)
                li.tabs-title.is-active
                    a(href='#faq_general', aria-selected='true') General questions
                li.tabs-title
                    a(data-tabs-target='faq_event', href='#faq_china') Token generation event
            .tabs-content(data-tabs-content='faq_tabs')
                each quest, idx in Object.keys(faq)
                    .tabs-panel(id='faq_' + quest class=!idx ? 'is-active' : '')
                        ul.accordion(data-accordion data-allow-all-closed='true' data-multi-expand='true')
                            each q, i in faq[quest]
                                li.accordion-item(data-accordion-item class=(i == 0) ? 'is-active' : '')
                                    a.accordion-title(href='#')
                                        =q[0]
                                    .accordion-content(data-tab-content)
                                        !=q[1]