footer.row.footer
    .column.large-4
        h5.footer_header
            | contact
        .footer_content
            | 11 Beach Road #06-01 Singapore (189675)
            br
            | E-mail: 
            a(href="mailto:info@d1coin.io" target="_blank") info@d1coin.io
        .footer_bottom
            | © All Rights Reserved. Diamundi Pte Ltd
    .column.large-4
        +social('Social Media Links', 7)
    .column.large-4
        h5.footer_header
            | Legal Documents
        .footer_content
            a.button.small.round.gray(href="#")
                | Document -1
            a.button.small.round.gray(href="#")
                | Document -2
        .footer_bottom
            ul.menu.simple
                li
                    a(href="#") Privacy Policy
                li
                    a(href="#") Whitepaper
                li
                    a(href="#") Pre-Sale Info