header.head
    .row.align-middle
        .column.large-1.head_logo
            a(href="/")
                img(src="./assets/img/logo.png", alt="D1")
        .column
            nav.nav
                +menu('simple menu--head')
        .column.large-5.head_buttons
            a.button.icon(href="#")
                +icon('telegram', [12, 10], '#fff', [17, 14])
                | Join Telegram
            button.button.secondary
                | Sign In
            button.button.gray.icon
                | EN
                +icon('arrow', [8, 6], '#fff')