-
    const team = [
        ['hogi', 'Hogi Hyun', 'Director', 'https://www.linkedin.com/in/hogi-hyun-883105/'],
        ['jeff', 'Jeff Wentworth', 'Technical Advisor', 'https://www.linkedin.com/in/wentworth/'],
        ['bill', 'Bill Claxton', 'Operations Director', 'https://www.linkedin.com/in/wmclaxton/'],
        ['william', 'William Metcalfe', 'Technical Advisor', 'https://www.linkedin.com/in/wmetcalfe/']
    ]

section.people
    .row.column
        h2 Team
        p.people_descr
            | With our team members stemming from diverse fields like
            br
            | Digital Marketing, Software Development, Blockchain/Cryptography,
            br
            | we have achieved a competitive market position
    .row
        each item in team
            +people(...item)