-
    const publs_usa = [
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['kommersant', [96, 14], '#fff', [150, 16]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['medium', [57, 47], '#fff', [22, 19]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],

        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['kommersant', [96, 14], '#fff', [150, 16]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['medium', [57, 47], '#fff', [22, 19]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#']
    ]

    const publs_china = [
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['kommersant', [96, 14], '#fff', [150, 16]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['medium', [57, 47], '#fff', [22, 19]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],

        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['kommersant', [96, 14], '#fff', [150, 16]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['medium', [57, 47], '#fff', [22, 19]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#']
    ]

    const publs_korea = [
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['kommersant', [96, 14], '#fff', [150, 16]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['medium', [57, 47], '#fff', [22, 19]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],

        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['kommersant', [96, 14], '#fff', [150, 16]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['medium', [57, 47], '#fff', [22, 19]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#']
    ]

    const publs_uae = [
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['kommersant', [96, 14], '#fff', [150, 16]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['medium', [57, 47], '#fff', [22, 19]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],

        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['kommersant', [96, 14], '#fff', [150, 16]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['tass', [67, 15], '#fff'], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#'],
        [['medium', [57, 47], '#fff', [22, 19]], '9.05.2018', 'Blockchain technologies will be applied at the Far East Financial Center', 'In 2017, the Cabinet of Ministers and the Central Bank supported the establishment of a financial center with a branch of foreign credit organizations', '#']
    ]

section#media.publications
    .row.column
        h2 Publications
        p.publications_descr
            | We've been covered by some of the big
            br
            | cryptocurrency/blockchain news websites.
    .row.align-center
        .column.large-6
            ul#publications.tabs(data-tabs)
                li.tabs-title.is-active
                    a(href='#publ_usa', aria-selected='true') USA
                li.tabs-title
                    a(data-tabs-target='publ_china', href='#publ_china') China
                li.tabs-title
                    a(data-tabs-target='publ_korea', href='#publ_korea') Korea
                li.tabs-title
                    a(data-tabs-target='publ_uae', href='#publ_uae') UAE
    .tabs-content(data-tabs-content='publications')
        - const publs = ['usa', 'china', 'korea', 'uae']
        each publ, idx in publs
            .tabs-panel(id='publ_' + publ class=!idx ? 'is-active' : '')
                .row.owl-carousel.publications_items
                    each item in eval('publs_' + publ)
                        .column
                            .publications_item
                                .publications_item_icon
                                    +icon(...item[0])
                                .publications_item_date
                                    =item[1]
                                .publications_item_title
                                    =item[2]
                                .publications_item_text
                                    =item[3]
                                a.publications_item_more(href=item[4])
                                    | more