mixin stars(num)
    - let j = 0
    ul.menu.stars
        while j < 5
            li
                +icon('star', [8, 8], j >= num ? '#1f2a3b' : '#fff')
            - j++

section.ratings
    h2.row.column
        | Ratings
    .row.ratings_inner
        -
            const rating = [
                [4.6, 'Icoalert'],
                [4.9, 'icohotlist'],
                [4.8, 'coingecko'],
                [4.6, 'coinjinja'],
                [4.8, 'Icobazaar'],
                [4.9, '52ico']
            ]
        each item in rating
            .column.large-2
                .ratings_item
                    .ratings_item_total
                        | /5
                    b.ratings_item_mark  
                        =item[0]
                    .ratings_item_stars
                        +stars(Math.round(item[0]))
                    .ratings_item_resource
                        =item[1]