section.reserve
    .row.column
        h2 Current Diamond Reserve
    .row.align-justify.reserve_content
        -
            const reserve = [
                ['1600',  'k', 'Diamonds'],
                ['2 000 000',    'm', 'D1 coins'],
                ['1800',  'k', 'Carats'],
                ['20 000 000',   'm', 'USD']
            ]
        each item, idx in reserve
            .column.large-3.small-6(class='large-order-'+ Number(idx+1) + ' small-order-'+ Number(idx+2))
                - let id = item[2].toLowerCase().replace(' ', '');
                .reserve_item(class='reserve_item--' + id data-open='reserve_' + id)
                    .reserve_item_num
                        =item[0]
                        //- small= item[1]
                    .reserve_item_curr
                        =item[2]
                    a.reserve_item_link
                        | Learn more
            if idx == 0
                .column.large-6.small-12.small-order-1.large-order-2
                    .reserve_video
                        button.video_button.small(data-video='KjUNAkEZtJ0')