section.reserves
    .row.column
        h2 Current Diamond Reserves
        p.reserves_descr
            | The ecosystem of D1 Coin has a few main parties, namely Coin Buyers, D1 Mint, D1 Reserve, and Diamond Supplier.
            br
            | The D1 Mint and Diamond Supplier are overseen and appointed by D1 Reserve, which also acts as a custodian by holding diamond inventory. D1 Mint issueы D1 Coins to Coin Buyers, who are able to purchase and redeem diamonds from D1 Mint. D1 Mint functions as the central party in the D1 ecosystem coordinating the flow of D1 Coins, diamonds and fiat currency.
    .row.align-justify.reserves_content
        -
            const reserves = [
                [1.6,  'k', 'Diamonds'],
                [2,    'm', 'D1 coins'],
                [1.6,  'k', 'Carats'],
                [20,   'm', 'USD']
            ]
        each item, idx in reserves
            .column.large-3
                .reserves_item(class='reserves_item--' + item[2].toLowerCase().replace(' ', ''))
                    .reserves_item_num
                        =item[0]
                        small= item[1]
                    .reserves_item_curr
                        =item[2]
                    a.reserves_item_link(href="#")
                        | Learn more
            if idx == 0
                .column.large-6
                    .reserves_video
                        button.video_button.small