-
    const roadmap = [
        ['August, 2017', 'Project Idea Soft Market Test', ['D1 Project has its first media response']],
        ['September, 2017', 'Diamond Procurement Confirmation', ['Initial volume of diamonds for tokenization are secured with leading Diamond producers (Alrosa, KGK, Kristall)']],
        ['October, 2017', 'Smart Contract Deployment', ['Smart-contract developed by the team and passed two independent audits.']],
        ['March, 2017', 'Advisory Board Establishment', ['Leaders of Diamond industry and seasoned international professionals from financial industry and fintech are engaged as advisory board members.']],
        ['May, 2018', 'Diamond Reserve Procurement for Pre-Sale Customers Completed', ['Diamonds for the full amount of Pre-Sale subscription value certified, checked and deposited in Antwerp.']],
        ['June-July, 2018', 'Closed Pre-Sale for Accredited Customers', ['<b>To participate please contact <a href="#">D1 Agent managers</a></b>', 'Subscription by accredited large-scale customers (ex- USA, China and Singapore) with minimum subscription amount equivalent to USD 1 Million.']],
        ['August, 2018', 'Open Pre-Sale', ['<b><a href="#">Subscribe</a> to our newsletter to get updated or <a href="#">participate</a> in Open Pre-Sale</b>', 'Subscription by general customers (ex- USA, China and Singapore) with minimum subscription amount equivalent to USD 1,000.']],
        ['August, 2018', 'D1 Coins Credited to Customers', ['Pre-Sale participants to receive D1 Coins at designated addresses.']],
        ['September, 2018', 'D1 Coin to Diamonds Redemption Available', ['Customers can redeem D1 Coins for Diamonds via courier delivery or personal pick up in Singapore & Antwerp (by prior appointment).']],
        ['October, 2018', 'Listing', ['D1 Coin will be listed on major cryptocurrency exchanges such']],
        ['4Q, 2018', 'Secondary Offering', ['Additional D1 Coins will be minted and backed by a new supply of diamonds.']]
    ]

section.roadmap
    h2.row.column.roadmap_header
        | Roadmap
    .row.owl-carousel.roadmap_items
        each item in roadmap
            .column
                .roadmap_item
                    .roadmap_item_date
                        =item[0]
                    h2.roadmap_item_title
                        =item[1]
                    each p in item[2]
                        p.roadmap_item_content
                            !=p
                        
                        