-
    const roadmap = [
        ['August, 2017', 'Project Idea Soft Market Test', ['D1 Project has its first media response']],
        ['September, 2017', 'Diamond Procurement Confirmation', ['Initial volume of diamonds for tokenization are secured with leading Diamond producers (Alrosa, KGK, Kristall)']],
        ['October, 2017', 'Smart Contract Deployment', ['Smart-contract developed by the team and passed two independent audits.']],
        ['March, 2017', 'Advisory Board Establishment', ['Leaders of Diamond industry and seasoned international professionals from the financial and fintech industries and fintech are engaged as advisory board members.']],
        ['May, 2018', 'Approval of the project\'s documentation', ['During the June, lawyers approved and verified the whole project\'s documentation.']],
        ['June, 2018', 'Diamond Reserve Procurement for Pre-sale Customers Completed', ['']],
        ['July-August, 2018', 'Closed Pre-Sale for Accredited Customers', ['Subscription by accredited large-scale customers (ex- the USA, China, and Singapore) with minimum subscription amount equivalent to USD 1 Million.']],
        ['September, 2018', 'Discussing the listing conditions with crypto-exchanges.', ['D1 team contacts representative of the top 10 exchanges to get additional information about the terms and conditions of the listing.']],
        ['October, 2018', 'Opening of the White List', ['Subscription by general customers (ex-USA, China and Singapore) with minimum subscription amount equivalent to USD 1,000?']],
        ['November - December, 2018', 'Awareness campaign', ['During two months, D1 will be gathering a community among the innovative idea of Diamonds tokenization.']],
        ['Q1, 2019', 'Token Generation Event', ['The opening of the smart-contract, accepting payments of the White List subscribers, issuing and distributing D1Coins to Customers.']]
    ]

section.roadmap
    h2.row.column.roadmap_header
        | Roadmap
    .row.owl-carousel.roadmap_items
        each item in roadmap
            .column
                .roadmap_item
                    .roadmap_item_date
                        =item[0]
                    h2.roadmap_item_title
                        =item[1]
                    each p in item[2]
                        p.roadmap_item_content
                            !=p
                        
                        