section.top
    .row.align-justify.top_inner
        .column.small-12.large-6.top_col
            h1.top_header
                | The first
                | 
                br
                | 
                | cryptocurrency backed by
                | 
                br
                | 
                | investment grade diamonds
            p.top_descr
                | D1 coin tokensale is live now
            a.button.large(href="#")
                | Read White Paper
            +social('Follow us:', 9, 'head')
        .column.small-12.large-6.top_col
            include ../components/_countdown
    .top_bg
        video(autoplay loop muted playsinline)
            source(src='assets/video/bg_head.mp4')
            source(src='assets/video/bg_head.webm')