section.videos
    .row.column
        h2 Video
    .row.owl-carousel.videos_items
        -
            const videos = [
                'u_hdJdH6Eac',
                'KjUNAkEZtJ0',
                'QFjAO5v9HEg'
            ]
        each video in videos
            .column
                .videos_item(data-video=video)
                    img(src='http://img.youtube.com/vi/' + video +'/hqdefault.jpg', alt="")
                    button.videos_item_button