section.video
    .row.video_inner
        .column.large-5
            h2.video_header
                | D1 coin is the safest and
                | 
                br
                | 
                | the most beautiful cryptoasset
            ul.menu.vertical.inside
                li
                    | D1 Coin is a diamond-backed cryptocurrency,
                    | 
                    br
                    | 
                    | with each D1 coin pegged to the value of a fraction of
                    | 
                    br
                    | 
                    | an authentic, natural diamond
                li
                    | D1 coin combines the convenience of digital
                    | 
                    br
                    | 
                    | currencies with the stability of traditional assets.
                li
                    | Simple enough to be very useful, complex
                    | 
                    br
                    | 
                    | enough to be very secure
        .video_container
            button.video_button(data-open="reserve_video")