section.why
    .row.column
        h2 Why digitalize diamonds?
        p.why_descr
            | Because, digitalizing diamonds in the form of D1 Coins brings together complementary strengths of both diamonds and cryptocurrencies, which overcomes the limitations of each asset class.
    .row.why_row
        .column.large-2.small-12
            .why_circle
                .why_circle_container
                    img(src=`assets/img/diamonds/diamond.png` srcset=`assets/img/diamonds/diamond.png 1x, assets/img/diamonds/diamond@2x.png 2x` alt="Diamond")
                h3.h2.why_circle_header
                    | DIAMONDS
        .column.large-10.small-12
            .why_columns
                .why_strengths
                    h3.why_header
                        | STRENGTHS
                    ul.menu.vertical.inside
                        li Strong Store of Wealth: Prices of diamond have been steadily appreciating over the last century
                        li Highly desirable: Due to their rarity, diamonds are in high demand and thus have strong intrinsic value
                .why_limitations
                    h3.why_header
                        | LIMITATIONS
                    ul.menu.vertical.inside
                        li Non-fungible: Each diamond is unique; the value of each diamond differs based on individual appraisals. Complexity of diamonds cause purchase and trading of diamonds to be challenging
                        li Illiquid: Selling of diamonds by individuals is cumbersome, and often results in a markdown in value
                        li Expensive: The high value of diamonds is a barrier to users due to the large capital required upfront
        
    .row.why_row
        .column.large-2.small-12
            .why_circle
                .why_circle_container.why_circle_container--crypto
                    .curr.curr--xrp
                        +icon('xrp', [20, 22], '#fff')
                    .curr.curr--eth
                        +icon('eth', [13, 25], '#fff')
                    .curr.curr--btc
                        +icon('btc', [12, 17], '#fff')
                h3.h2.why_circle_header
                    | CRYPTOS
        .column.large-10.small-12
            .why_columns
                .why_strengths
                    h3.why_header
                        | STRENGTHS
                    ul.menu.vertical.inside
                        li Highly divisible: no limit on the number of units per coin
                        li Good Medium of Exchange: Transfers are quick, with low transaction fees
                        li Fungible: Every unit of cryptocurrency is identical
                        li Pseudonymous: Addresses in the blockchain are not tied to any identity
                        li Transparent System: Decentralized and immutable records
                .why_limitations
                    h3.why_header
                        | LIMITATIONS
                    ul.menu.vertical.inside
                        li Non-fungible: Each diamond is unique; the value of each diamond differs based on individual appraisals. Complexity of diamonds causes purchase and trading of diamonds to be challenging
                        li Illiquid: Selling of diamonds by individuals is cumbersome, and often results in a markdown in value
                        li Expensive: The high value of diamonds is a barrier to users with a large capital required upfront