section.why
    .row.column
        h2 WHY TOKENIZE DIAMONDS?
        p.why_descr
            | Combining complementary strengths of diamonds and blockchain to overcome
            br
            | limitations of each asset class.
    .row.why_row
        h3.why_header.why_header--problems
            | PROBLEMS
        h3.why_header.why_header--solutions
            | SOLUTIONS
        .why_content.why_content--problems.why_content--diamonds
            h4.why_content_header
                | DIAMONDS
            h5 HETEROGENEOUS
            p Each diamond is unique, value can differ across appraisals
            h5 ILLIQUID
            p Diamond sales are cumbersome and often results in a markdown in value
            h5 EXPENSIVE
            p The high unit price of diamonds is a barrier to potential buyers
        .why_content.why_content--solutions.why_content--tokens
            h4.why_content_header
                | Tokens
            h5 FUNGIBLE
            p Each token is identical
            h5 LIQUID
            p Transfers are quick, with low transaction fees
            h5 ACESSIBLE
            p Large number of units can be minted at a low price
        .why_content.why_content--problems.why_content--tokens
            h4.why_content_header
                | Tokens
            h5 VOLATILE
            p Most cryptocurrencies are valued purely by market forces, resulting in high volatility
        .why_content.why_content--solutions.why_content--diamonds
            h4.why_content_header
                | DIAMONDS
            h5 STABLE
            p Diamonds have displayed price stability and long term appreciation for thousands of years