#reserve_video.reveal.reveal--video(data-reveal data-animation-in="fade-in" data-animation-out="fade-out" data-reset-on-close="true")
    .responsive-embed.reveal_video
        iframe(width='560', height='315', src='https://www.youtube.com/embed/KjUNAkEZtJ0?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    button.reveal_close(aria-label='Close', type='button', data-close)

#reserve_diamonds.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | 1,6K Diamonds
        p.reveal_content
            | The current reserve consists of  1582  investment grade diamonds which certified
            br
            | by the Gemological Institute of America (GIA) and have auditable provenance. 
        p.reveal_content.text-center
            | Diamonds are of the following characteristics:
        table.reveal_table
            tr
                th Carats
                td 0.5 – 6 ct
            tr
                th Clarity
                td VS1 to Flawless
            tr
                th Color
                td F and higher
            tr
                th Cut
                td Very Good or Excellent
        button.button.huge(data-close)
            | Close
    button.reveal_close(aria-label='Close', type='button', data-close)

#reserve_d1coins.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | 2m D1 Coins
        .reveal_content.reveal_content--small
            | Each D1 Coin is backed by 1/1000th of a model D1 Standard Diamond, which is Round 1 Carat, Excellent Cut, F Color and VS1 Clarity. Diamonds with different characteristics are recalculated to the value Standard Diamond at a ratio determined by D1 Matrix - Artificial intelligence-powered, proprietary pricing algorithm comprising a neuron network which analyzes relationship between the 4Cs (carat, color, clarity, cut) and 7 other characteristics with price. 
            ul.inside
                li Additive model that makes predictions by combining decisions from a sequence of base Decision Tree models
                li Yields high quality of results, especially for data with a large number of variables and small number of observations
                li Does not require a test sample and has the ability to parallelize
        button.button.huge(data-close)
            | Close
    button.reveal_close(aria-label='Close', type='button', data-close)

#reserve_carats.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | 1,6K Carats 
        p.reveal_content.reveal_content--centered
            | Total current reserrve weight is
            | 
            b 1598 Carats.
        p.reveal_content.reveal_content--crooked
            | Diamond carat weight is the measurement of how much a diamond weighs, with a metric “carat” defined as 200 milligrams. All else being equal, the diamond price increases with diamond carat weight because larger diamonds are more rare and more desirable
        button.button.huge(data-close)
            | Close
    button.reveal_close(aria-label='Close', type='button', data-close)

#reserve_usd.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | USD 20m
        p.reveal_content.reveal_content--centered
            | D1 Reserve is responsible for publishing regular reports and publishing periodic valuation reports disclosing the Net Asset Value (NAV) of the inventory of diamond supplies.
            br
            br
            | Current reserve Net Asset Value according to Rapaport Diomond Report is
            | 
            b USD 19,213k
        button.button.huge(data-close)
            | Close
    button.reveal_close(aria-label='Close', type='button', data-close)