#whitelist.reveal.reveal--large.reveal--whitelist(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h2.reveal_header
        | Whitelist application
    p.reveal_descr
        | We are assembling an D1 token sale whitelist for our valued community. Please fill your details here for an opportunity to be invited to the whitelist. Please note that complete requests will be processed faster and are more likely to be selected.
    form.form.form--cols(action="whitelist" autocomplete='off')
        .form_field
            label.form_label
                | Full name
            .form_input
                .form_input_icon
                    +icon('user', [20, 20], '#93979f')
                input(type="text" name="name" placeholder="Your name" required)
        .form_field
            label.form_label
                | Email
            .form_input
                .form_input_icon
                    +icon('envelope', [24, 19], '#93979f')
                input(type="email" name="email" placeholder="Enter your email" required)
        .form_field
            label.form_label
                | Country
            .form_input.form_input--country(data-open='country')
                .form_input_icon
                    +icon('earth', [24, 24], '#93979f')
                input(type="text" name="country" placeholder="Choose your country" autocomplete='off' required)
        .form_field
            label.form_label
                | Phone
            .form_input.form_input--phone
                .form_input_icon
                    +icon('phone', [22, 22], '#93979f')
                select(name="phone_code")
                    option(value="USD") US Dollars
                    option(value="EUR") Euro
                    option(value="GPB") GB Pound
                input(type="tel" name="phone" placeholder="Enter your phone" required)
        .form_field.form_field--wide
            label.form_label
                | Amount
            .form_input.form_input--amount
                .form_input_icon
                    +icon('amount', [24, 20], '#93979f')
                input(type="number" name="amount" step="0.01" placeholder="Enter amount to invest" required)
                select(name="amount_currency")
                    option(value="USD") USD
                    option(value="EUR") EUR
                    option(value="GBP") GBP
                    option(value="BTC") BTC
                    option(value="ETH") ETH
        //- .form_field
            label.form_label
                | Social url
            .form_input
                .form_input_icon
                    +icon('like', [24, 22], '#93979f')
                input(type="url" name="profile" placeholder="Url to social profile")
        .reveal_note
            | By clicking on the "JOIN WHITELIST" button, you certify that
            | 
            br
            | 
            | you agree with
            | 
            a(data-open="disclaimer") this Disclaimer
            | 
            | and our Privacy Policy
        button.button.huge
            | JOIN WHITELIST
    button.reveal_close(aria-label='Close', type='button', data-close)


#disclaimer.reveal.reveal--large.reveal--disclaimer(data-reveal data-animation-in="fade-in" data-animation-out="fade-out" data-multiple-opened='true')
    h2.reveal_header
        | Disclamer
    .reveal_content
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh. Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida. Donec vehicula rhoncus mattis. Mauris dignissim semper mattis. Fusce porttitor a mi at suscipit. Praesent facilisis dolor sapien, vel sodales augue mollis ut. Mauris venenatis magna eu tortor posuere luctus. Aenean tincidunt turpis sed dui aliquam vehicula. Praesent nec elit non dolor consectetur tincidunt sed in felis. Donec elementum, lacus at mattis tincidunt, eros magna faucibus sem, in condimentum est augue tristique risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        br
        | Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh. Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida. Donec vehicula rhoncus mattis. Mauris dignissim semper mattis. Fusce porttitor a mi at suscipit. Praesent facilisis dolor sapien, vel sodales augue mollis ut. Mauris venenatis magna eu tortor posuere luctus. Aenean tincidunt turpis sed dui aliquam vehicula. Praesent nec elit non dolor consectetur tincidunt sed in felis. Donec elementum, lacus at mattis tincidunt, eros magna faucibus sem, in condimentum est augue tristique risus.
    button.button.huge(data-close)
        | Got it
    button.reveal_close(aria-label='Close', type='button', data-close)