#whitelist.reveal.reveal--large.reveal--whitelist(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h2.reveal_header
        | Whitelist application
    p.reveal_descr
        | We are assembling an D1 token sale whitelist for our valued community. Please fill your details here for an opportunity to be invited to the whitelist. Please note that complete requests will be processed faster and are more likely to be selected.
    form.form.form--cols(action="whitelist" autocomplete='off')
        .form_field
            label.form_label
                | Full name
            .form_input
                .form_input_icon
                    +icon('user', [20, 20], '#93979f')
                input(type="text" name="name" placeholder="Your name" required)
        .form_field
            label.form_label
                | Email
            .form_input
                .form_input_icon
                    +icon('envelope', [24, 19], '#93979f')
                input(type="email" name="email" placeholder="Enter your email" required)
        .form_field
            label.form_label
                | Country
            .form_input.form_input--country(data-open='country')
                .form_input_icon
                    +icon('earth', [24, 24], '#93979f')
                input(type="text" name="country" placeholder="Choose your country" autocomplete='off' required)
        .form_field
            label.form_label
                | Phone
            .form_input.form_input--phone
                .form_input_icon
                    +icon('phone', [22, 22], '#93979f')
                select(name="phone_code")
                    option(value="USD") US Dollars
                    option(value="EUR") Euro
                    option(value="GPB") GB Pound
                input(type="tel" name="phone" placeholder="Enter your phone" required)
        .form_field.form_field--wide
            label.form_label
                | Amount
            .form_input.form_input--amount
                .form_input_icon
                    +icon('amount', [24, 20], '#93979f')
                input(type="number" name="amount" step="0.01" placeholder="Enter amount to invest" required)
                select(name="amount_currency")
                    option(value="USD") USD
                    option(value="EUR") EUR
                    option(value="GBP") GBP
                    option(value="BTC") BTC
                    option(value="ETH") ETH
        //- .form_field
            label.form_label
                | Social url
            .form_input
                .form_input_icon
                    +icon('like', [24, 22], '#93979f')
                input(type="url" name="profile" placeholder="Url to social profile")
        .reveal_note
            | By clicking on the "JOIN WHITELIST" button, you certify that
            | 
            br
            | 
            | you agree with
            | 
            a(data-open="disclaimer") this Disclaimer
            | 
            | and our Privacy Policy
        button.button.huge
            | JOIN WHITELIST
    button.reveal_close(aria-label='Close', type='button', data-close)


#disclaimer.reveal.reveal--large.reveal--disclaimer(data-reveal data-animation-in="fade-in" data-animation-out="fade-out" data-multiple-opened='true')
    h2.reveal_header
        | Disclamer
    .reveal_content
        | DISCLAIMER
        br
        br
        | IMPORTANT ELECTRONIC VERSIONS OF THE MATERIALS YOU ARE SEEKING TO ACCESS ARE BEING MADE AVAILABLE ON THIS WEBPAGE BY SLP NETWORK IN GOOD FAITH AND FOR INFORMATION PURPOSES ONLY. THESE MATERIALS ARE NOT DIRECTED AT NOR SHOULD THEY BE ACCESSED BY PERSONS LOCATED IN THE UNITED STATES, [SINGAPORE, PEOPLE’S REPUBLIC OF CHINA,][ A&G: We have amended this for consistency with section 12(k) of the Terms of Sale. Please confirm.] CUBA, IRAN, NORTH KOREA, SYRIA AND THE CRIMEA REGION OR PERSONS IN ANY OTHER JURISDICTION WHERE THE DISTRIBUTION OF THESE MATERIALS WOULD BREACH ANY APPLICABLE LAW OR REGULATION OR WOULD REQUIRE ANY REGISTRATION OR LICENSING WITHIN SUCH JURISDICTION (“Restricted Jurisdiction”). Please read this notice carefully — it applies to all persons who view this webpage. Please note that the disclaimer set out below may be altered or updated, at any time in whole or in part at the sole discretion of SLP Network. You should read it in full each time you visit the site.
        br
        br
        | Overseas Persons
        br
        br
        | Viewing the materials you seek to access may not be lawful in certain jurisdictions. In other jurisdictions, only certain categories of person may be allowed to view such materials. Any person who wishes to view these materials must first satisfy themselves that they are not subject to any local requirements that prohibit or restrict them from doing so. In particular, unless otherwise determined by SLP Network and permitted by applicable law and regulation, it is not intended that any offering of any securities referred to in these materials by SLP Network would be made, or any documentation be sent, directly or indirectly, in or into, a Restricted Jurisdiction.
        br
        br
        | The materials are for informational purposes only and do not constitute or form a part of any offer or invitation to sell or issue, or solicitation of any offer to purchase or subscribe for, any securities referred to in these materials in any jurisdiction or jurisdictions in which such offers or sales are unlawful prior to registration or qualification under the securities laws of any such jurisdiction.
        br
        br
        | In particular, any securities referred to in these materials have not been and will not be registered under the US Securities Act of 1933, as amended (the “Securities Act”), and may not be offered, sold, resold, pledged, taken up, exercised, renounced, transferred or delivered, directly or indirectly, in or into the United States except pursuant to an exemption from, or in a transaction not subject to, the registration requirements of the Securities Act. In addition, SLP Network will not be registering under the US Investment Company Act of 1940 and investors will not be entitled to the benefits of such act. Any securities referred to in these materials will not be registered under applicable securities laws of any state, province, territory, county or jurisdiction of a Restricted Jurisdiction.
        br
        br
        | Accordingly, unless an exemption under the relevant securities law is applicable, any securities referred to in these materials may not be offered, sold, pledged, taken up, exercised, resold, renounced, transferred or delivered, directly or indirectly, in or into a Restricted Jurisdiction where to do so would constitute a violation of the relevant laws of, or require registration thereof in, such jurisdiction. There will be no public offer of securities in the United States. If you are not permitted to view materials on this webpage or are in any doubt as to whether you are permitted to view these materials, please exit this webpage.
        br
        br
        | Basis of access
        br
        | Access to electronic versions of these materials is being made available on this webpage by SLP Network in good faith and for information purposes only. Any person seeking access to this website represents and warrants to SLP Network that they are doing so for informational purposes only. Making press announcements and other documents available in electronic format does not constitute an offer to sell or the solicitation of an offer to buy securities in SLP Network. Further, it does not constitute a recommendation by SLP Network or any other party to sell or buy securities in SLP Network.
        br
        br
        | Unless otherwise determined by SLP Network and permitted by applicable law and regulation, copies of the contents of the following pages (including documents posted thereon) are not being, and must not be, released or otherwise distributed or transmitted in or into a Restricted Jurisdiction and persons receiving such documents (including custodians, nominees and trustees) must not distribute, forward to or transmit them in or into a Restricted Jurisdiction.
        br
        | Confirmation of understanding and acceptance of disclaimer
        br
        br
        | BY AGREEING WITH THIS DISCLAIMER, YOU CERTIFY THAT: YOU ARE AN INDIVIDUAL RESIDENT IN THE COUNTRY; YOU ARE A PERSON WHO IS PERMITTED UNDER APPLICABLE LAWS AND REGULATIONS TO RECEIVE INFORMATION OF THE KIND CONTAINED IN THIS WEBSITE; YOU ARE NOT IN ANY RESTRICTED JURISDICTION; YOU REPRESENT AND WARRANT THAT YOU ARE ACCESSING THESE WEBPAGES FOR INFORMATION PURPOSES ONLY; AND YOU HAVE READ, UNDERSTOOD AND AGREE TO THE DISCLAIMER ABOVE

    button.button.huge(data-close)
        | Got it
    button.reveal_close(aria-label='Close', type='button', data-close)