.countdown
    .countdown_top
        .countdown_top_left
            h2.countdown_top_header
                | Private sale is live
            b.countdown_top_rate
                | 1 ETH = 4,983D1
        //- .countdown_top_bonus
            | bonus
            b 18%
    //- .countdown_container
        .countdown_digit
            .countdown_digit_container
                | 24
            .countdown_digit_label
                | day
        .countdown_digit
            .countdown_digit_container
                | 18
            .countdown_digit_label
                | HOURS
        .countdown_digit
            .countdown_digit_container
                | 37
            .countdown_digit_label
                | MINUTES
        .countdown_digit
            .countdown_digit_container
                | 46
            .countdown_digit_label
                | sec
    .countdown_progress
        .countdown_progress_container
            .countdown_progress_reach(style="width:44%")
                | 44%
        .countdown_progress_label
            .countdown_progress_label_left
                | Pre Sale
                br
                | $5,000,000
            .countdown_progress_label_right
                | Hard Cap
                br
                | $130,000,000
    .countdown_raised
        | Raised
        b $ 9,056,084
    button.button.large(data-open="whitelist")
        | BUY D1 COIN