mixin countries
    ul.menu.vertical
        li.active
            a(href="#")
                span.dropdown_lang.flag-icon-us
                | English
        li
            a(href="#")
                span.dropdown_lang.flag-icon-jp
                | Japan
        li
            a(href="#")
                span.dropdown_lang.flag-icon-kr
                | Korean
        li
            a(href="#")
                span.dropdown_lang.flag-icon-cn
                | 简体
        li
            a(href="#")
                span.dropdown_lang.flag-icon-cn
                | 繁体

#language.dropdown-pane(data-dropdown data-auto-focus='true' data-close-on-click='true' data-alignment='right' data-v-offset='10')
    +countries

#language_mobile.dropdown-pane(data-dropdown data-auto-focus='true' data-close-on-click='true' data-alignment='left' data-position='top' data-v-offset='10')
    +countries