#language.dropdown-pane(data-dropdown data-auto-focus='true' data-close-on-click='true' data-alignment='right' data-v-offset='10')
    ul.menu.vertical
        li.active
            a(href="#")
                img(src="./assets/img/lang/eng.svg", alt="English")
                | English
        li
            a(href="#")
                img(src="./assets/img/lang/rus.svg", alt="Russian")
                | Russian
        li
            a(href="#")
                img(src="./assets/img/lang/ger.svg", alt="German")
                | German