mixin menu(mod)
    ul.menu(class=mod data-smooth-scroll)
        li
            a(href="#documents") Our documents                                 
        li
            a(href="#advisors") Team and Advisors
        li
            a(href="#media") Blog & Media
        li
            a(href="#faq") FAQ
        li
            a(href="#contacts") Contacts
        li
            a(href="#") White Paper
        li
            a(href="#") Token Sale Terms