mixin menu(mod)
    ul.menu(class=mod)
        li
            a(href="#") Project                                 
        li
            a(href="#") Team and Advisors
        li
            a(href="#") Blog & Media
        li
            a(href="#") FAQ
        li
            a(href="#") Contacts
        li
            a(href="#") White Paper
        li
            a(href="#") Token Sale Terms