#whitelist.reveal.reveal--large.reveal--whitelist(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h2.reveal_header
        | Whitelist application
    p.reveal_descr
        | We are assembling an D1 token sale whitelist for our valued community. Please fill your details here for an opportunity to be invited to the whitelist. Please note that complete requests will be processed faster and are more likely to be selected.
    form.form.form--cols(action="whitelist")
        .form_field
            label.form_label
                | Full name
            .form_input
                .form_input_icon
                    +icon('user', [20, 20], '#93979f')
                input(type="text" name="name" placeholder="Your name" required)
        .form_field
            label.form_label
                | Email
            .form_input
                .form_input_icon
                    +icon('envelope', [24, 19], '#93979f')
                input(type="email" name="email" placeholder="Enter your email" required)
        .form_field
            label.form_label
                | Country
            .form_input.form_input--country
                .form_input_icon
                    +icon('earth', [24, 24], '#93979f')
                input(type="text" name="country" placeholder="Choose your country" readonly data-open="country")
        .form_field
            label.form_label
                | Phone
            .form_input
                .form_input_icon
                    +icon('phone', [22, 22], '#93979f')
                input(type="tel" name="phone" placeholder="Enter your phone" required)
        .form_field
            label.form_label
                | Amount
            .form_input.form_input--amount
                .form_input_icon
                    +icon('amount', [24, 20], '#93979f')
                input(type="text" name="amount" placeholder="Enter amount to invest" required)
                select(name="amount_currency")
                    option(value="USD") US Dollars
                    option(value="EUR") Euro
                    option(value="GPB") GB Pound
        .form_field
            label.form_label
                | Social url
            .form_input
                .form_input_icon
                    +icon('like', [24, 22], '#93979f')
                input(type="url" name="profile" placeholder="Url to social profile")
        .reveal_note
            | By clicking on the "JOIN WHITELIST" button, you certify that
            br
            | you agree with
            | 
            a(data-open="disclaimer") this Disclaimer
            | 
            | and our Privacy Policy
        button.button.huge
            | JOIN WHITELIST
    button.reveal_close(aria-label='Close', type='button', data-close)

#country.reveal.reveal--large.reveal--whitelist(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h2.reveal_header
        | Choose your country
    form(action="country")
        .reveal_content
            .form
                .form_head
                    .form_input
                        .form_input_icon
                            +icon('magnifier', [22, 22], '#93979f')
                        input(type="search" placeholder="Search country")
                .form--choose.form--cols
                    .form_field
                        input(type="radio" name="country" id="country_rus" value="Russia")
                        label.form_input(for="country_rus")
                            .form_input_icon
                                img(src="./assets/img/country/russia.svg", alt="Russia")
                            .form_input_label
                                | Russia
                    .form_field
                        input(type="radio" name="country" id="country_bel" value="Belarus")
                        label.form_input(for="country_bel")
                            .form_input_icon
                                img(src="./assets/img/country/belarus.svg", alt="Belarus")
                            .form_input_label
                                | Belarus
                    .form_field
                        input(type="radio" name="country" id="country_eng" value="England")
                        label.form_input(for="country_eng")
                            .form_input_icon
                                img(src="./assets/img/country/england.svg", alt="England")
                            .form_input_label
                                | England
                    .form_field
                        input(type="radio" name="country" id="country_1" value="Test")
                        label.form_input(for="country_1")
                            .form_input_label
                                | Test
                    .form_field
                        input(type="radio" name="country" id="country_2" value="Test")
                        label.form_input(for="country_2")
                            .form_input_label
                                | Test
                    .form_field
                        input(type="radio" name="country" id="country_3" value="Test")
                        label.form_input(for="country_3")
                            .form_input_label
                                | Test
                    .form_field
                        input(type="radio" name="country" id="country_4" value="Test")
                        label.form_input(for="country_4")
                            .form_input_label
                                | Test
                    .form_field
                        input(type="radio" name="country" id="country_5" value="Test")
                        label.form_input(for="country_5")
                            .form_input_label
                                | Test
        button.button.huge
            | Choose
    button.reveal_close(aria-label='Close', type='button', data-close)

#disclaimer.reveal.reveal--large.reveal--disclaimer(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h2.reveal_header
        | Disclamer
    .reveal_content
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh. Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida. Donec vehicula rhoncus mattis. Mauris dignissim semper mattis. Fusce porttitor a mi at suscipit. Praesent facilisis dolor sapien, vel sodales augue mollis ut. Mauris venenatis magna eu tortor posuere luctus. Aenean tincidunt turpis sed dui aliquam vehicula. Praesent nec elit non dolor consectetur tincidunt sed in felis. Donec elementum, lacus at mattis tincidunt, eros magna faucibus sem, in condimentum est augue tristique risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        br
        | Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh. Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida. Donec vehicula rhoncus mattis. Mauris dignissim semper mattis. Fusce porttitor a mi at suscipit. Praesent facilisis dolor sapien, vel sodales augue mollis ut. Mauris venenatis magna eu tortor posuere luctus. Aenean tincidunt turpis sed dui aliquam vehicula. Praesent nec elit non dolor consectetur tincidunt sed in felis. Donec elementum, lacus at mattis tincidunt, eros magna faucibus sem, in condimentum est augue tristique risus.
    button.button.huge(data-close)
        | Got it
    button.reveal_close(aria-label='Close', type='button', data-close)

#buy.reveal.reveal--buy(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | Buy tokens
        form.form.form--centered(action="buy")
            input(type="text" name="name" placeholder="Your Name")
            input(type="tel" placeholder="Your Telephone")
            input(type="email" placeholder="Your E-mail")
            button.button.huge Send
    button.reveal_close(aria-label='Close', type='button', data-close)

#success.reveal.reveal--success(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        .reveal_icon
            +icon('check', [81, 68], '#1056c8')
        p.h2.reveal_header
            | Your quotation request was successfully sent!
        button.button.huge(data-close)
            | OK
    button.reveal_close(aria-label='Close', type='button', data-close)
            

#reserve_video.reveal.reveal--video(data-reveal data-animation-in="fade-in" data-animation-out="fade-out" data-reset-on-close="true")
    .responsive-embed.reveal_video
        iframe(width='560', height='315', src='https://www.youtube.com/embed/KjUNAkEZtJ0?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    button.reveal_close(aria-label='Close', type='button', data-close)

#reserve_diamonds.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | 1,6K Diamonds
        p.reveal_content
            | The current reserve consists of  1582  investment grade diamonds which certified
            br
            | by the Gemological Institute of America (GIA) and have auditable provenance. 
        p.reveal_content.text-center
            | Diamonds are of the following characteristics:
        table.reveal_table
            tr
                th Carats
                td 0.5 – 6 ct
            tr
                th Clarity
                td VS1 to Flawless
            tr
                th Color
                td F and higher
            tr
                th Cut
                td Very Good or Excellent
        button.button.huge(data-close)
            | Close
    button.reveal_close(aria-label='Close', type='button', data-close)

#reserve_d1coins.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | 2m D1 Coins
        .reveal_content.reveal_content--small
            | Each D1 Coin is backed by 1/1000th of a model D1 Standard Diamond, which is Round 1 Carat, Excellent Cut, F Color and VS1 Clarity. Diamonds with different characteristics are recalculated to the value Standard Diamond at a ratio determined by D1 Matrix - Artificial intelligence-powered, proprietary pricing algorithm comprising a neuron network which analyzes relationship between the 4Cs (carat, color, clarity, cut) and 7 other characteristics with price. 
            ul.inside
                li Additive model that makes predictions by combining decisions from a sequence of base Decision Tree models
                li Yields high quality of results, especially for data with a large number of variables and small number of observations
                li Does not require a test sample and has the ability to parallelize
        button.button.huge(data-close)
            | Close
    button.reveal_close(aria-label='Close', type='button', data-close)

#reserve_carats.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | 1,6K Carats 
        p.reveal_content.reveal_content--centered
            | Total current reserrve weight is
            | 
            b 1598 Carats.
        p.reveal_content.reveal_content--crooked
            | Diamond carat weight is the measurement of how much a diamond weighs, with a metric “carat” defined as 200 milligrams. All else being equal, the diamond price increases with diamond carat weight because larger diamonds are more rare and more desirable
        button.button.huge(data-close)
            | Close
    button.reveal_close(aria-label='Close', type='button', data-close)

#reserve_usd.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | USD 20m
        p.reveal_content.reveal_content--centered
            | D1 Reserve is responsible for publishing regular reports and publishing periodic valuation reports disclosing the Net Asset Value (NAV) of the inventory of diamond supplies.
            br
            br
            | Current reserve Net Asset Value according to Rapaport Diomond Report is
            | 
            b USD 19,213k
        button.button.huge(data-close)
            | Close
    button.reveal_close(aria-label='Close', type='button', data-close)