include popups/_whitelist
include popups/_countries
include popups/_reserve
include popups/_database
include popups/_status

#video.reveal.reveal--video(data-reveal data-animation-in="fade-in" data-animation-out="fade-out") 
    .responsive-embed.reveal_video 
        iframe#player(width='560', height='315', src='https://www.youtube.com/embed/KjUNAkEZtJ0?enablejsapi=1', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

//- #buy.reveal.reveal--buy(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | Buy tokens
        form.form.form--centered(action="buy")
            input(type="text" name="name" placeholder="Your Name" required)
            input(type="tel" placeholder="Your Telephone" required)
            input(type="email" placeholder="Your E-mail" required)
            button.button.huge Send
    button.reveal_close(aria-label='Close', type='button', data-close)

#prices_mobile.reveal.reveal--reserve(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_inner
        h2.reveal_header
            | Price estimations
            br
            | based on the 
            br
            | following criteria:
        table.reveal_table
            tr
                th Cut
                td Ideal
            tr
                th color 
                td F
            tr
                th clarity 
                td VVS1
            tr
                th depth 
                td 60
            tr
                th table 
                td 60
            tr
                th Polish
                td Excellent
            tr
                th symmetry
                td Excellent
            tr
                th culet
                td None
            tr
                th fluorescence
                td None

        button.button.huge(data-close)
            | Close

#member.reveal.reveal--member(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    .reveal_cols
        .reveal_member
            .people_item_photo
                img(src="", alt="")
            .reveal_member_social
                a(href="" target="_blank")
                    +icon('linkedin', [16, 16], '#fff', [13, 13])
        .reveal_member_info.people_item--hogi
            h3.people_item_name
            p.people_item_info
            p.people_item_bio
    button.reveal_close(aria-label='Close', type='button', data-close)