-
    const social = [
        ['telegram', 'https://t.me/joinchat/DJvKSFDdrxQsQba9v_RDTg', [17, 14]],
        ['twitter',  'https://twitter.com/D1coin/', [16, 14]],
        ['facebook', 'https://www.facebook.com/D1coin/', [9, 15]],
        //- ['linkedin', '#', [13, 13]],
        ['reddit',   'https://www.reddit.com/r/D1coin/', [23, 18]],
        //- ['youtube',  '#', [17, 21]],
        ['medium',   'https://medium.com/d1coin', [22, 19]],
        //- ['steemit',  '#', [40, 40]],
        //- ['btctalk',  '#', [15, 21]]
    ]

mixin social(header, num, mod)
    - 
        let i = 0
        num = social.length
    .social(class=mod ? "social--" + mod : "")
        if header
            h5.social_header
                =header
        ul.menu.social_links
            while i < num
                li
                    a(href=social[i][1] target="_blank")
                        +icon(social[i][0], social[i][2], '#fff', social[i][0] == 'btctalk' ? [18, 24] : social[i][2])
                - i++