mixin subscribe(mod)
    section.subscribe(class=mod ? "subscribe--" + mod : "")
        .row.align-center
            h2.column.small-12 Subscribe to a newsletter
            .column.large-8
                form.form.form--row(action="subscribe")
                    input(type="email" placeholder="Your E-mail" required)
                    buttton.button.huge
                        | Subscribe