extends ../layout
block content
    include ../sections/_top
    include ../sections/_documents
    include ../sections/_reserve
    //- include ../sections/_exchanges
    //- include ../sections/_ratings
    //- include ../sections/_video
    include ../sections/_news
    include ../sections/_matrix
    include ../sections/_advisors
    +subscribe
    include ../sections/_ecosystem
    include ../sections/_why
    include ../sections/_combo
    include ../sections/_cases
    include ../sections/_people_advisors
    include ../sections/_people_team
    include ../sections/_roadmap
    include ../sections/_publications
    include ../sections/_partners
    include ../sections/_faq
    include ../sections/_videos
    include ../sections/_contacts
    +subscribe('footer')